@page "/User"
@model asp_net_core_web_app_authentication_authorisation.Areas.Identity.Pages.UserModel
@{
}

<h2 class="text-center">Welcome to your account.</h2>
<div>
    First Name: @Model.appUser?.FirstName
</div>
<div>
    Last Name: @Model.appUser?.LastName
</div>
<div>
    Email: @Model.appUser?.Email
</div>
<div>
    Phone Number: @Model.appUser?.PhoneNumber
</div>
<div>
    Address: @Model.appUser?.Address
</div>
<div>
    Created At: @Model.appUser?.CreatedAt.ToString("MM/dd/yyyy")
</div>
